<div>
    <section class="bradcrumbs row bgColorStyle2">
        <ul class="centerWidth">
            <li>
                <a href="#" class="pathway"><span>משתמשים</span></a>
                <span class="divider">/</span>
            </li>
            <li>
                <span>ניהול משתמשים</span>
            </li>
        </ul>
    </section>
    <section class="managment row bgColorStyle2">
        <div class="container">
            <div class="col-md-12"><h2 class="headdingColor1">ניהול משתמשים</h2></div>
            <div class="formContainer col-md-6 col-sm-10 col-xs-12">
                <form class="formStyle searchForm">
                    <fieldset>
                        <div class="col-md-4">
                            <label for="userName">שם משתמש</label>
                            <input id="userName" type="text">
                        </div>
                        <div class="col-md-4">
                            <label for="positionName">תפקיד</label>
                            <input id="positionName" type="text">
                        </div>
                        <div class="col-md-2">
                            <button class="searcButton buttonStyle">חיפוש</button>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="newUser-Container col-md-6 col-sm-2 col-xs-12">
                <div class="newUser-inner">
                    <button id="AddUser" class="add-newUser bgColorStyle3"><i class="fa fa-plus" aria-hidden="true"></i></button>
                    <span>הוספת משתמש חדש</span>
                </div>
            </div>
        </div>
    </section>

    <main id="mainSection" class="MainContainer centerWidth">
          <div class="modalTable-inner boederBg" >
            <table class="tableStyle1" title="טבלת משתמשים" id="UserTable">


                <thead>
                    <tr>
                        <th>מספר זהות<button class="sortTableBy" title="מיין עמודת מספר זהות"><i class="fa fa-sort-desc" aria-hidden="true"></i></button></th>
                        <th>שם משתמש</th>
                        <th>תפקיד</th>
                        <th>תאריך יצירה</th>
                        <th class="btnContainer">פעיל</th>
                        <th class="btnContainer">עדכון</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td data-th="מספר זהות">02345678</td>
                        <td data-th="שם משתמש">נורית ברוש</td>
                        <td data-th="תפקיד">בודק</td>
                        <td data-th="תאריך יצירה"><span class="time">10:59</span><span class="date">03/08/2017</span></td>
                        <td data-th="פעיל" class="btnContainer">
                            כן
                        </td>
                        <td data-th="עדכון" class="btnContainer"><button type="button" class="editButton" title="ערוך פרטי משתמש" aria-label="ערוך פרטי משתמש"><i class="fa fa-pencil" aria-hidden="true"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </main>
</div>
