<section class="row mainNavigation">
    <div class="centerWidth">
        <div class="loginName col-md-3 col-sm-12 col-xs-12">
            <p class="userName">שלום, <span>ישראל ישראלי</span></p>
            <button title="יציאה מהאזור האישי" aria-label="בעת לחיצה מתנתק מהאזור האישי" class="loginSite linkColor1">יציאה</button>
        </div>
        <nav class="navbar col-md-9 col-sm-12 col-xs-12">
            <div class="container">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse" title="פתח תפריט">
                    <span class="icon-bar" role="presentation"></span>
                    <span class="icon-bar" role="presentation"></span>
                    <span class="icon-bar" role="presentation"></span>
                </button>
                <div class="collapse navbar-collapse navHeaderCollapse">
                    <ul class="nav navbar-nav navbar-right" role="menu">
                        <li role="menuitem">
                            <a href="#" class="linkItem activeLink" data-toggle="dropdown" aria-expanded="false" tabindex="0">משתמשים <b class="caret"></b></a>

                            <ul class="dropdown-menu">
                                <li role="menuitem">
                                    <a href="#" class="subMenu-item" tabindex="0">ניהול משתמשים</a>
                                </li>
                                <li role="menuitem">
                                    <a href="#" class="subMenu-item" tabindex="0">פרטי משתמש</a>
                                </li>
                            </ul>

                        </li>
                        <li role="menuitem">
                            <a href="#" class="linkItem" data-toggle="dropdown" aria-expanded="false" tabindex="0">ניהול מערכת <b class="caret"></b></a>

                            <ul class="dropdown-menu">
                                <li role="menuitem">
                                    <a href="#" class="subMenu-item" tabindex="0">רשימת רמות ארגוניות</a>
                                </li>
                                <li role="menuitem">
                                    <a href="#" class="subMenu-item" tabindex="0">פרטי רמה ארגונית</a>
                                </li>
                                <li role="menuitem">
                                    <a href="#" class="subMenu-item" tabindex="0">רשימת שלבים לרמה ארגונית</a>
                                </li>
                                <li role="menuitem">
                                    <a href="#" class="subMenu-item" tabindex="0">פרטי שלב</a>
                                </li>
                                <li role="menuitem">
                                    <a href="#" class="subMenu-item" tabindex="0">רשימת שאלונים</a>
                                </li>
                                <li role="menuitem">
                                    <a href="#" class="subMenu-item" tabindex="0">פרטי שאלון</a>
                                </li>
                                <li role="menuitem">
                                    <a href="#" class="subMenu-item" tabindex="0">קישור תפריטים לתפקיד</a>
                                </li>
                            </ul>

                        </li>
                        <li role="menuitem">
                            <a href="#" class="linkItem" data-toggle="dropdown" aria-expanded="false" tabindex="0">ניהול הגיוס <b class="caret"></b></a>

                            <ul class="dropdown-menu">
                                <li role="menuitem">
                                    <a href="#" class="subMenu-item" tabindex="0">הוספת משרה</a>
                                </li>
                                <li role="menuitem">
                                    <a href="#" class="subMenu-item" tabindex="0">הוספת מועמד</a>
                                </li>
                                <li role="menuitem">
                                    <a href="#" class="subMenu-item" tabindex="0">חיפוש משרה</a>
                                </li>
                                <li role="menuitem">
                                    <a href="#" class="subMenu-item" tabindex="0">חיפוש מועמד</a>
                                </li>
                                <li role="menuitem">
                                    <a href="#" class="subMenu-item" tabindex="0">תמונת מצב</a>
                                </li>
                                <li role="menuitem">
                                    <a href="#" class="subMenu-item" tabindex="0">רשימת מטלות</a>
                                </li>
                            </ul>

                        </li>
                        <li role="menuitem">
                            <a href="#" class="linkItem" tabindex="0">דוחות ריכוזיים</a>
                        </li>
                        <li role="menuitem">
                            <a href="#" class="linkItem" tabindex="0">התראות</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</section>